.App {
  /* text-align: center; */
}

.bar_etape
{
  background-color: "#ADD8E6";
  color: "#FFFFFF";
  font-weight: "bold";
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.mainformulaire
{
  margin-top: 70px;
  width: 98%;
}

.m-formulaire{
  margin-top: 2px;
}

.m-formulaire ul>li:hover{
  color:white;
  background-color: lightblue;
}

.mainformaulaire
{
  width: 98%;
}

.route_main2{
  /* overflow: auto; */
  height: 580px;
}

